.cards {
  display: grid;
  
  padding: 1em;
  gap: 1em;
  font-size: 24px;
  font-weight: 600;
}


.title {
  text-align: center;
}

@media (min-width: 300px) {
  .cards {
    grid-template-columns: repeat(2, 100px);
  }
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 100px);
  }
}


@media (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(5, 100px);
  }
}




