.cards {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  padding: 1em;
  gap: 1em;
  font-size: 24px;
  font-weight: 600;
}

.three {
  grid-template-areas: "1 . 2 . 3";
}

.two {
  
}

.title {
  text-align: center;
}